// ────────────── Output Configuration ──────────────
// You can run `niri msg outputs` to get the correct name for your displays.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs

// External monitor, on the left
output "HDMI-A-1" {
    mode "1920x1080@74.973"
    scale 1
    position x=0 y=0
}

// Laptop screen, on the right
output "eDP-1" {
    mode "1920x1200@60.003"
    scale 1
    position x=1920 y=0
}
